@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
	body
		font-size: 16px
		background: #E5E5E5
		min-width: 320px
		position: relative
		line-height: 1.65
		font-family: $default-font
		overflow-x: hidden
		color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

section
	margin-top: 60px

.text-center
	text-align: center

b, strong
	font-weight: bold

.title
	color: $accent
	font-size: 24px
	position: relative
	margin-bottom: 35px
	h2
		margin-bottom: 0
	&::after, &::before
		content: ''
		background: $accent
		display: inline-block
		height: 2px
		position: absolute
		width: 55px
		bottom: 0
	&::before
		bottom: -8px
		transform: translateX(50%)
	&-white
		color: white
		&::after, &::before
			background: white
.h1
	color: #ffffff
	font-size: 56px
	font-weight: bold
	white-space: pre-line
	line-height: 1.2
	margin-bottom: 60px

.logo
	display: inline-block
	color: #ffffff
	text-transform: uppercase
	font-size: 26px
	font-weight: bold

.overlay
	background-color: rgba(0, 0, 0, .5)
	position: absolute
	width: 100%
	top: 0
	right: 0
	left: 0
	bottom: 0
	&-dark
		background-color: rgba(0, 0, 0, .8)

.header-content
	position: relative

.header
	display: flex
	align-items: center
	justify-content: center
	position: relative
	background: url('../img/@1x/background-img.jpg') center no-repeat
	height: 100vh
	background-size: cover
	min-height: 700px
	&-form
		display: block
		margin-top: 40px
		background-color: #ffffff
		padding: 30px 45px 50px 45px
		border-radius: 5px
		&__title
			display: block
			margin-bottom: 20px
		&__text
			display: block
			font-size: 20px
			color: $text
			margin-bottom: 40px
		&__input
			margin-top: 12px
		&__button
			display: block
			margin-top: 20px

.input
	padding: 20px
	width: 100%
	border-radius: 5px
	border: 1px solid #D2D5DA
	font-size: 18px
	outline: none
	&-label
		display: block
		width: 100%
	&:focus
		border-color: $accent
		box-shadow: 0 0 5px rgba($accent,0.5)

.button
	background-color: $accent
	padding: 21px 40px
	border-radius: 5px
	border: none
	outline: none
	color: #ffffff
	cursor: pointer
	white-space: nowrap
	transition: background-color .15s ease-in-out
	&:hover
		background-color: darken($accent, 10)
	&:focus
		outline: none
	&--white
		background-color: transparent
		color: white
		border: 1px solid #dddddd
		transition: border-color .15s ease-in-out
		&:hover
			background-color: transparent
			border-color: white

.warning-icon
	font-family: fontawesome
	font-style: normal
.warning-text
	font-size: 12px
	display: inline-block
	margin-top: 5px
	&--white
		color: white
	&--white-abs
		color: white
		position: absolute
		left: 0
		bottom: 0
		transform: translateY(110%)
.hamburger
	position: absolute
	top: 10px
	right: 5px
	display: none
	color: white
	background: transparent
.hamburger-inner
	background: white
	&::before, &::after
		background: white

.is-active
	.hamburger-inner
		background: white !important
		&::before, &::after
			background: white !important
.darken
	background-color: rgba(0, 0, 0, 0.95) !important
	position: absolute !important
	z-index: 10
.d-center
	display: flex
	align-items: center !important
	justify-content: center !important
.nav
	position: absolute
	top: 0
	padding: 20px 0px
	background-color: rgba(0, 0, 0, 0.8)
	width: 100%
	display: flex
	align-items: center
	justify-content: space-around
	&-list
		color: #ffffff
		margin-right: 50px
		list-style-type: none
		display: flex
		flex-direction: row
		margin: 0
		padding: 0
		li
			cursor: pointer
			transition: color .15s ease-in-out
			color: #DCDCDC
			&:hover
				color: white
		&__divider
			color: $accent
			font-weight: bold
			margin-left: 20px
			margin-right: 20px

.header-item
	display: flex
	align-items: center
	&__text
		color: #ffffff
		white-space: pre-line
		font-size: 28px

.features
	display: block
	margin-top: 0
	width: 100%
	transform: translateY(-10%)

.feature
	display: flex
	background: white
	flex-direction: column
	padding: 50px 20px
	min-height: 250px
	border-bottom: 3px solid white
	max-height: 250px
	width: 100%
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25)
	border-radius: 5px
	transition: all .2s ease-in
	&:hover
		border-color: $accent
		transform: translateY(-2%)
	&-icon
		display: block
		text-align: center
	&-text
		display: block
		margin-top: 20px
		text-align: center

.documents
	&__item
		margin-bottom: 20px
	&__wrapper
		display: flex
		flex-direction: column
		position: relative
		min-height: 160px
	&-wrapper
		position: absolute
		left: 50%
		transform: translateX(-50%) translateY(-50%)
		top: 50%
	&__text
		display: block
		font-size: 18px
		text-align: center

.order
	display: block
	padding-top: 50px
	position: relative
	background: url('../img/@1x/bg-2.png') center no-repeat
	background-size: cover
	min-height: 370px
	&-form
		&__input
			display: flex
		&__wrapper
			align-items: flex-end
			margin-top: 30px
	&__text
		position: relative
		color: white
		font-size: 20px
		margin-top: 20px
		&-form
			margin-top: 70px
			margin-left: 15px
	&-wrapper
		position: relative

.input-label
	&--white
		color: #fff
		margin-bottom: 0

.mt-60
	margin-top: 60px

.card
	display: block
	position: relative
	border-radius: 5px
	background: #FFFFFF
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28)
	min-height: 630px
	&-title
		display: block
		font-size: 24px
		padding: 22px 0px
		color: white
		text-align: center
.card-title-wrapper
	border-top-left-radius: 5px
	border-top-right-radius: 5px
	background: linear-gradient(113.39deg, #4285F4 17.59%, #3921C2 96.46%)
.card-price__content
	padding: 15px 50px
.card-price
	display: flex
	justify-content: space-between
	padding: 20px 25px
	border-bottom: 2px solid #DFDFDF
	border-top: none
	transform: translateY(-1px)
	&--center
		justify-content: center
	&__value
		font-weight: 300
		font-size: 28px
		color: #444444
	&__slash
		font-size: 26px
		color: $accent
	&__item
		display: flex
		flex-direction: column
	&__small
		color: #777777
		font-size: 15px
	&-block
		margin-bottom: 30px
	&__subtitle
		font-weight: normal
		font-size: 16px
		margin-bottom: 0
	&__text
		font-size: 24px
		color: #444444
.card-price-window
	display: flex
	margin-top: 35px
	justify-content: center
	align-items: center
	border: 1px solid #4285F4
	box-sizing: border-box
	border-radius: 5px
	width: 80%
	padding: 20px
	&__text
		margin-bottom: 0
.card-price__button
	position: absolute
	bottom: 30px
	left: 50%
	transform: translateX(-50%)
	display: flex
	justify-content: center
	align-items: center
.service
	position: relative
	padding: 30px 45px
	background: linear-gradient(180deg, rgba(108, 107, 254, 0.72) 0%, rgba(66, 133, 244, 0.8) 100%)
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25)
	border-radius: 5px
	min-height: 400px
	&__title
		display: flex
		align-items: center
		color: white
		font-size: 20px
		min-height: 60px
		margin-bottom: 20px
	&-list
		list-style-type: none
		margin: 0
		padding: 0
		margin-bottom: 20px
	&-cost
		display: block
		position: absolute
		bottom: 120px
		left: 50%
		transform: translateX(-50%)
		text-align: center
		color: white
		font-weight: 300
		font-size: 30px
	&__item
		color: white
		display: block
		margin-top: 10px
	&__button
		display: flex
		position: absolute
		bottom: 20px
		left: 50%
		transform: translateX(-50%)
		justify-content: center
.faq
	&-arrow
		&--rotate
			transform: rotateX(180deg)
	&-item
		display: flex
		justify-content: space-between
		padding: 30px 50px
		margin-bottom: -1px
		font-weight: bold
		font-size: 20px
		border-top: 1px solid #D9D9D9
		border-bottom: 1px solid #D9D9D9
		transition: color .1s ease-in
		&:hover
			color: $accent

.request
	position: relative
	background: url('../img/@1x/bg-3.png') center no-repeat
	background-size: cover
	min-height: 540px
	margin-top: 70px
	padding-top: 10px
	&__title
		display: block
		font-size: 36px
		color: #ffffff
		text-align: center
		&-wrapper
			position: relative
			text-align: center
			display: block
			width: 100%
			margin-top: 40px
	&__input
		margin-top: 15px
		width: 100%
	&__button
		margin-top: 25px
		width: 50%

.footer
	display: block
	padding-bottom: 30px
	background-color: #1B264E
	&__wrapper
		display: flex
		width: 100%
		flex-direction: row
		justify-content: space-between
		&-contacts
			display: flex
			margin-top: 15px
			align-items: flex-start
	&__wrapper-logo
		display: flex
		flex-direction: column
		margin-top: 15px
	&__logo
		color: #ffffff
		font-size: 36px
	&__logos
		color: #dcdcdc
		display: flex
		align-items: center
		margin-left: 10px
		cursor: pointer
		transition: color .15s ease-in-out
		&:hover
			color: #ffffff
		&:first-child
			margin-left: 0
		&-wrapper
			display: flex
			flex-wrap: wrap
			margin-top: 15px
	&__text
		margin-left: 5px
		font-size: 14px

.check
	&-text
		font-size: 22px
.telegram
	margin-left: 0

.phone
	color: #ffffff
	font-size: 36px
.faq-item
	cursor: pointer
.faq-arrow
	font-family: fontawesome
	cursor: pointer
.faq-content
	display: none
	padding: 30px 0px 20px 10px
	p
		line-height: 1.7
		font-size: 17px
.demo
	height: 400px
.form-md
	margin-top: 0
	.header-form
		display: none
		margin-top: 20px
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28)

@import "media" // Always at the end
